#card {
  margin:0 auto;
  text-align: center;
  width: 928; /* total computed width */
  zoom: 1;
}

#card:before, #card:after {
  content: "";
  display: table
}

#card:after {
  clear: both
}

/* --------------- */	

#card .card-main {
  font: 13px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;     
  background: #fff;      
  border: 1px solid #ddd;
  color: #333;
  padding: 20px;
  width: 225px;
  float: left;
  _display: inline; /* IE6 double margin fix */
  position: relative;
  margin: 0 15px 30px;
  -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);		
}

#card .card-main:after {
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 10px;
  right: 4px;
  width: 80%; 
  top: 80%; 
  -webkit-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);   
  -moz-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
  -webkit-transform: rotate(3deg);    
  -moz-transform: rotate(3deg);   
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);	
}	

/* --------------- */	

#card .header {
  position: relative;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 40px;
  margin: 20px -20px 20px -20px;
  border-bottom: 8px solid;
  background-color: #eee;
  background-image: -moz-linear-gradient(#fff,#eee);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
  background-image: -webkit-linear-gradient(#fff, #eee);
  background-image: -o-linear-gradient(#fff, #eee);
  background-image: -ms-linear-gradient(#fff, #eee);
  background-image: linear-gradient(#fff, #eee);
}

#card .header:after {
  position: absolute;
  bottom: -8px; left: 0;
  height: 3px; width: 100%;
  content: '';
  background-image: url(images/bar.png);
}

#card .popular-plan .header {
  margin-top: -40px;
  padding-top: 60px;		
}

#card .card-main1 .header{
  border-bottom-color: #B3E03F;
}

#card .card-main2 .header{
  border-bottom-color: #7BD553;
}

#card .card-main3 .header{
  border-bottom-color: #3AD5A0;
}

#card .card-main4 .header{
  border-bottom-color: #45D0DA;
}			

/* --------------- */

#card .middle{
  font-size: 30px;
  margin-top: 20px;
}

/* --------------- */

#card ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

#card li {
  padding: 10px 0;
}

/* --------------- */
.weathercontainer {
  margin-top: 120px;
}

.calendarcontainer {
  margin-top: 120px
}

.header-container {
  display: block;
  background-color: blue;
  position: absolute;
}

/* end --------------- */